doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='/css/dataTables.foundation.min.css')
    link(rel='stylesheet', href='/css/dataTables.jqueryui.min.css')
    link(rel='stylesheet', href='/css/datatables.min.css')
    link(rel='stylesheet', href='/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/css/jquery.dataTables_themeroller.css')
    link(rel='stylesheet', href='/css/style.css')
    
    script(src='js/jquery-2.2.0.min.js')
    script(src='js/jquery.dataTables.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/dataTables.bootstrap.min.js')
    script(src='js/dataTables.foundation.min.js')
    script(src='js/dataTables.jqueryui.min.js')
    script(src='js/datatables.min.js')
    
  body
    block content